<%= error_messages_for 'civility' %>

<!--[form:civility]-->
<p><label for="civility_name">Name</label><br/>
<%= text_field 'civility', 'name'  %></p>

<p><label for="civility_surname">Surname</label><br/>
<%= text_field 'civility', 'surname'  %></p>

<p><label for="civility_birth_date">Birth date</label><br/>
<%= date_select 'civility', 'birth_date'  %></p>

<p><label for="civility_city">City</label><br/>
<%= text_field 'civility', 'city'  %></p>


<!--[eoform:civility]-->

