

<% form_remote_tag :url => url_for(:action => 'create'), :html => { :class => "classic" } do -%>

  <%= render :partial => 'form' %>

<div class="buttons">
  <%= submit_tag "Enregistrer"	%>
	ou 
	<%= link_to_remote "Annuler", :update => "moovers_data", :url => {:controller => "moovers_datas", :action => "cancel_create"} %>

</div>


<% end %>


