

<% for column in MooversData.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @moovers_data.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @moovers_data %> |
<%= link_to 'Back', :action => 'list' %>
