<%= @user.login %>, votre compte est maintenant activé.

Joopack est une plateforme vous permettant de créer votre CV en ligne et de l'exporter aux formats PDF ou DOC en un clic.

Pour rappel voici vos informations de connection:
       Login: <%= @user.login %>
Mot de passe: <%= @user.password %>

Bonne journée,
L'équipe de Joopack.

