
Here is a new Feedback  from  <%= @user.login %>.

Joopack est une plateforme vous permettant de créer votre CV en ligne et de l'exporter aux formats PDF ou DOC en un clic.

Bonne journée,
L'équipe de Joopack.

