<%= @user.login %>, votre mot a été régénéré.

Voici vos nouvelles informations de connection:
       Login: <%= @user.login %>
Mot de passe: <%= @user.password %>

Joopack est une plateforme vous permettant de créer votre CV en ligne et de l'exporter aux formats PDF ou DOC en un clic.

Bonne journée,
L'équipe de Joopack.

