<%= error_messages_for 'jobs' %>

<!--[form:jobs]-->
<p><label for="jobs_title">Title</label><br/>
<%= text_field 'jobs', 'title'  %></p>

<p><label for="jobs_location">Location</label><br/>
<%= text_field 'jobs', 'location'  %></p>

<p><label for="jobs_description">Description</label><br/>
<%= text_area 'jobs', 'description'  %></p>
<!--[eoform:jobs]-->

