<% for column in Jobs.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @jobs.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @jobs %> |
<%= link_to 'Back', :action => 'list' %>
