<%= error_messages_for 'mody_text' %>

<!--[form:mody_text]-->
<p><label for="mody_text_title">Titre</label><br/>
<%= text_field 'mody_text', 'title'  %></p>

<p><label for="mody_text_content">Contenu</label><br/>
<%= text_area 'mody_text', 'content'  %></p>
<!--[eoform:mody_text]-->

