<% for column in ModyText.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mody_text.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mody_text %> |
<%= link_to 'Back', :action => 'list' %>
