<%= error_messages_for 'skill' %>

<dl>
  <dt>Titre</dt><br/>
  <dd><%= text_field 'skill', 'title'  %></dd>

  <dt>Description / Niveau</dt><br/>
  <dd><%= text_field 'skill', 'desc'  %></dd>
</dl>

