<% for column in Skill.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @skill.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @skill %> |
<%= link_to 'Back', :action => 'list' %>
