<%= error_messages_for 'hobby' %>

<dl>
  <dt>Titre(facultatif)</dt><br/>
  <dd><%= text_field 'hobby', 'title'  %></dd>

  <dt>Description</dt><br/>
  <dd><%= text_field 'hobby', 'desc'  %></dd>
</dl>
