<%= error_messages_for 'feedback' %>

<!--[form:feedback]-->
<p><label for="feedback_title">Title</label><br/>
<%= text_field 'feedback', 'title'  %></p>

<p><label for="feedback_content">Content</label><br/>
<%= text_area 'feedback', 'content'  %></p>

<!-- <p><label for="feedback_created_at">Created at</label><br/>
<%= datetime_select 'feedback', 'created_at'  %></p> -->
<!--[eoform:feedback]-->

