
<% form_for :photo, :url => { :controller => 'photos', :action => 'create' }, :html => { :multipart => true } do |f| -%>
  <p><%= f.file_field :uploaded_data %></p>
  <p><%= submit_tag :Create %>
<a href="#" onclick="Effect.Fade('form_photo');return false;">Annuler</a>
</p>
<% end -%>

